absl-py==0.7.1
alabaster==0.7.12
altair==3.2.0
appnope==0.1.0
argh==0.26.2
astor==0.8.0
attrs==19.1.0
Augmentor==0.2.6
backcall==0.1.0
base58==1.0.3
bleach==3.1.0
blinker==1.4
boto3==1.10.16
botocore==1.13.16
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==4.0.2
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
docker-pycreds==0.4.0
entrypoints==0.3
enum-compat==0.0.3
eventlet==0.25.0
-e git+https://github.com/NathanBWaters/few_shot_learning@c8666d63f054f85a2b10336e8dfb3b6614c89957#egg=few_shot
Flask==1.1.1
future==0.17.1
gast==0.2.2
gitdb2==2.0.6
GitPython==3.0.4
google-pasta==0.1.7
gql==0.1.0
graphql-core==2.2.1
greenlet==0.4.15
grpcio==1.22.0
h5py==2.9.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-core==4.5.0
jupyterlab==1.0.5
jupyterlab-server==1.0.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
monotonic==1.5
moviepy==1.0.0
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.14.5
nvidia-ml-py3==7.352.0
opencv-python==4.1.0.25
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pathtools==0.1.2
pickleshare==0.7.5
Pillow==8.2.0
proglog==0.1.9
prometheus-client==0.7.1
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.5
Pygments==2.4.2
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
python-engineio==3.9.3
python-socketio==4.3.1
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
Rx==1.6.1
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
sentry-sdk==0.13.2
shortuuid==0.5.0
six==1.12.0
sklearn==0.0
smmap2==2.0.5
streamlit==0.50.2
subprocess32==3.5.4
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.33.0
traitlets==4.3.2
tzlocal==2.0.0
urllib3==1.25.3
validators==0.14.0
virtualenv==16.6.1
wandb==0.8.15
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
wget==3.2
wrapt==1.11.2
yapf==0.28.0
